doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')  
  body
    div.navbar.navbar-fixed-top
      div.narbar-inner
        div.container
          a(class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse') span.icon-bar span.icon-bar span.icon-bar
          a(class='brand' href='/') Microblog
          div.nav-collapse
            ul.nav
              li.active 
                a(href='/') 首页
              - if (!user)
                li
                  a(href='/login') 登录
                li
                  a(href='/reg') 注册
              - else
                li
                  a(href='/logout') 退出
    div#container.container
      - if (success)
        div.alert.alert-success= success
      - if (error)
        div.alert.alert-error= error      
      block content
    div#footer.footer
      !='<hr />'
      p
        a(href='http://www.hotelanywhere.cn' target='_blank') Tony Zhang @2014 All Right Reserved
