extends layout
block content
  // NAVBAR
  div.navbar-wrapper
    div.container
      div.navbar.navbar-inverse.navbar-static-top
        div.container
          div.navbar-header
            button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
              span(class='sr-only') Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
            a(class='navbar-brand' href='#') 
              span
                img(src='/photo/rdmelio50.jpg' alt='R.dmelio')
          div.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Home
              li
                a(href='#about') About
              li
                a(href='#contact') Contact
              li.dropdown
                a(href='#' class='dropdown-toggle' data-toggle='dropdown') Dropdown
                  span.caret
                ul(class='dropdown-menu' role='menu')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li.dropdown-header Nav header
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/blog') Microblog
  //Carousel
  div(id='myCarousel' class='carousel slide' data-ride='carousel')
    //Indicators
    ol.carousel-indicators
      li(data-target='#myCarousel' data-slide-to='0' class='active')
      li(data-target='#myCarousel' data-slide-to='1')
      li(data-target='#myCarousel' data-slide-to='2')
    div.carousel-inner
      div.item.active
        img(class='img-responsive' src='/photo/1.jpg' alt='First slide' style='width: 959px; height: 446px;')
        div.container
          div.carousel-caption
            //h1 Example headline
            //p Note: If you're viewing this page via a \#{file://} URL, the 'next' and 'previous' Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
            p
              a(class='btn btn-lg btn-primary' href='#' role='button') Sign up today
      div.item
        img(src='/photo/bg_home.jpg' alt='Second slide')
        div.container
          div.carousel-caption
            //h1 Another example headline
            //p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a(class='btn btn-lg btn-primary' href='#' role='button') Learn more
      div.item
        img(src='/photo/blank900.jpg' alt='Third slide')
        div.container
          div.carousel-caption
            //h1 One more for good measure.
            //p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a(class='btn btn-lg btn-primary' href='#' role='button') Browse gallery
            
    a(class='left carousel-control' href='#myCarousel' role='button' data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a(class='right carousel-control' href='#myCarousel' role='button' data-slide='next')
      span.glyphicon.glyphicon-chevron-right
  //Marketing messaging and featurettes
  //Wrap the rest of the page in another container to center all the content.
  div.container.marketing
    //Three columns of text below the carousel div.col-lg-4
    div.row
      div.col-sm-4
        img(class='img-circle' src='/photo/Luminaris200.jpg' alt='Generic placeholder image' style='width: 140px; height: 140px;')
        h2 Heading
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
        p
          a(class='btn btn-default' href='#' role='button') View details &raquo;
      div.col-sm-4
        img(class='img-circle' src='/photo/praventiva200.jpg' alt='Generic placeholder image' style='width: 140px; height: 140px;')
        h2 Heading
        p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo
        p
          a(class='btn btn-default' href='#' role='button') View details &raquo;
      div.col-sm-4
        img(class='img-circle' src='/photo/carebalance200.jpg' alt='Generic placeholder image' style='width: 140px; height: 140px;')
        h2 Heading
        p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
        p
          a(class='btn btn-default' href='#' role='button') View details &raquo;
      div.col-sm-4
        img(class='img-circle' src='/photo/BlankRoast200.jpg' alt='Generic placeholder image' style='width: 140px; height: 140px;')
        h2 Heading
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
        p
          a(class='btn btn-default' href='#' role='button') View details &raquo;
      div.col-sm-4
        img(class='img-circle' src='/photo/zeppelin200.jpg' alt='Generic placeholder image' style='width: 140px; height: 140px;')
        h2 Heading
        p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo
        p
          a(class='btn btn-default' href='#' role='button') View details &raquo;
      div.col-sm-4
        img(class='img-circle' src='/photo/raymondweil200.jpg' alt='Generic placeholder image' style='width: 140px; height: 140px;')
        h2 Heading
        p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
        p
          a(class='btn btn-default' href='#' role='button') View details &raquo;
    //START THE FEATURETTES
    hr.featurette-divider
    div.row.featurette
      div.col-md-7
        h2.featurette-heading First featurette heading. 
          span.text-muted It'll blow your mind.
        p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      div.col-md-5
        img(class='featurette-image img-responsive' src='/photo/500_1.jpg' alt='Generic placeholder image')
  
    hr.featurette-divider
    div.row.featurette
      div.col-md-5
        img(class='featurette-image img-responsive' src='/photo/image003.jpg' alt='Generic placeholder image')
      div.col-md-7
        h2.featurette-heading Oh yeah, it's that good.
          span.text-muted See for yourself.
        p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

    hr.featurette-divider
    div.row.featurette
      div.col-md-7
        h2.featurette-heading And lastly, this one. 
          span.text-muted Checkmate.
        p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      div.col-md-5
        img(class='featurette-image img-responsive' src='/photo/luminaris500.jpg' alt='Generic placeholder image')

    hr.featurette-divider
    
    // Thumbnail
    div.row
      div.navbar-header
        
        a(class='navbar-brand' href='#') 
          //img(src="/photo/BlankRoast200.jpg" alt="Blank")
          span Blank Roast Coffee
    
    div.row
      div.col-sm-6.col-md-4
        div.thumbnail
          img(src="/photo/BLUTE140.jpg" alt="BLUTE")
          div.caption
            h3 Blute
            p ...
            p
              a(href='#' class='btn btn-primary' role='button') Button
      div.col-sm-6.col-md-4
        div.thumbnail
          img(src="/photo/Bole140.jpg" alt="Bole")
          div.caption
            h3 BOLE
            p ...
            p
              a(href='#' class='btn btn-primary' role='button') Button
      div.col-sm-6.col-md-4
        div.thumbnail
          img(src="/photo/COSTE140.jpg" alt="COSTE")
          div.caption
            h3 COSTE
            p ...
            p
              a(href='#' class='btn btn-primary' role='button') Button
      

    // table

    table.table
      thead
        tr
          th Index
          th Content carebalanceset140 carebalanceset140 carebalanceset140 carebalanceset140
      tbody
        tr
          td 
            img(src='/photo/carebalanceset140.jpg' alt='A')
          td Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        tr
          td 
            img(src='/photo/cloud7_140.jpg' alt='B') 
          td Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit

    //List Group
    div.list-group
        a(href='#' class='list-group-item')         
          img(src='/photo/carebalance200.jpg' alt='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera')         
          //h4.list-group-item-heading List group item heading
          p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.     
      
        a(href='#' class='list-group-item')
          img(src='/photo/Luminaris200.jpg' alt='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera')  
          //h4.list-group-item-heading List group item heading
          p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      
        a(href='#' class='list-group-item')
          img(src='/photo/praventiva200.jpg' alt='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera') 
          //h4.list-group-item-heading List group item heading
          p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        
        a(href='#' class='list-group-item')
          img(src='/photo/BlankRoast200.jpg' alt='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera') 
          p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

        a(href='#' class='list-group-item')
          img(src='/photo/zeppelin200.jpg' alt='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera') 
          p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

        a(href='#' class='list-group-item')
          img(src='/photo/swissmilitary200.jpg' alt='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera') 
          p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

        a(href='#' class='list-group-item')
          img(src='/photo/raymondweil200.jpg' alt='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera') 
          p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

    //FOOTER
    footer
      p.pull-right
        a(href='#') Back to top
      p &copy; 2014 Company, Inc. &middot; 
        a(href='#') Privacy &middot; 
        a(href='#') Terms
