extends bloglayout
block bcontent
  include narbar.jade
  div.jumbotron
    div.container
      - if (!user)
      
        h1 欢迎来到Tony的微博平台
        p 这是一个基于Node.js的微博开源平台。
        p
          a(class='btn btn-primary btn-lg' href='/login' role="button") 登录
          a(class='btn btn-lg' href='/reg' role="button") 注册
      - else
        include ./say.jade
  div.container
    include ./posts.jade
    include footer.jade
