extends bloglayout
block bcontent
  div#container.container
    include narbar.jade
    include alert.jade
    
    form(class='form-signin' method='post' role='form')
      h2.form-signin-heading Please sign in
      input(id='username' name='username' type='text' class='form-control' placeholder='User Name' required autofocus)
      input(id='password' name='password' type='password' class='form-control' placeholder='Password' required)
      //label.checkbox
        //input(type='checkbox' value='remember-me') Remember me
      button(class='btn btn-lg btn-primary btn-block' type='submit') Sign in
    include footer.jade
